---
---


@import "{{ site.theme }}";

img{
	float: left;
	margin-left: 10%;
	margin-top: 1%;

}


nav {
	float: left;
	margin-top: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#project_title{
		margin-top: 10%;
	}
}