---
---


@import "{{ site.theme }}";

img{
	float: left;
	margin-left: 10%;
	margin-top: 1%;

}


nav {
	float: left;
	margin-top: 5%;
}


@media only screen and (max-width: 500px) {
		#header_wrap {
        margin-top: 10%;
    }
}