---
---


@import "{{ site.theme }}";

img{
	float: left;
	margin-left: 10%;
	margin-top: 1%;

}


nav {
	float: left;
	margin-top: 5%;
}

@media only screen and (max-width : 320px) {
	#project_title{
		margin-top: 10%;
	}
}

